<% layout('layouts/boilerplate') %>
  <div class='row'>
    <h2 class='text-center'>What's on your mind?</h2>
    <div class='col-6 offset-3'>
      <form action='/tweets' method='POST' novalidate class='validated-form'>
        <div class='mb-3'>
          <label class='form-label' for='tweetText'>150 Characters</label>
          <textarea maxlength='150' class='form-control' type='text' id='tweetText' name='tweet[tweetText]'
            required></textarea>
          <div class='valid-feedback'>
            Looks good
          </div>
        </div>
        <div class='mb-3'>
          <button class='btn btn-success'>Post Tweet</button>
        </div>
      </form>
    </div>
  </div>
  <h1>All Tweets</h1>
    <% for (let tweet of tweets) { %>
      <div class="card mb-3">
        <h5 class="card-header">

        </h5>
        <div class="card-body mb-3">
          <h5 class="card-title mb-3">@<%= tweet.author.username %> - <%= tweet.date.toDateString() %>
          </h5>
          <p class="card-text mb-3"><%= tweet.tweetText %></p>
        </div>
        <footer>
          <form action='/tweets/<%=tweet._id%>/act' method='POST'>
            <div class='mb-3'>
              <button class='btn btn-light'>
                &#9825 <span class='badge bg-light text-dark'><%= tweet.likeCount %></span>
              </button>
            </div>
          </form>
        </footer>
      </div>
    <% } %>
  
