<% layout('layouts/boilerplate') %>
<div class='row'>
  <div class='col-6 offset-3'>
    <div class="card">
      <h5 class="card-header">who liked eventually</h5>
      <div class="card-body">
        <h5 class="card-title">
          <%= tweet.author.username %> 
        </h5>
        <p class="card-text">
          <%= tweet.tweetText %>
        </p>
        <img src="<%=tweet.image %>" class="img-fluid rounded float-end" >
        <div class="button-container">
          <button type="button" class="btn btn-outline-secondary">comment</button>
          <button type="button" class="btn btn-outline-secondary">retweet</button>
          <button type="button" class="btn btn-outline-secondary">&#9825</button>
          <button type="button" class="btn btn-outline-secondary">share</button>
        </div>
      </div>
      
      <% if( currentUser && tweet.author.equals(currentUser._id)) { %> 
      <div class='card-footer'>
        <a class='card-link btn btn-warning' href='/tweets/<%=tweet._id%>/edit'>Edit</a>
        <form class='d-inline' action='/tweets/<%=tweet._id%>?_method=DELETE' method='POST'>
          <button class='btn btn-danger'>Delete</button>
        </form>
      </div>
      <% } %> 
    </div>
    <div class="card">
      <% for(let reply of tweet.replies) { %>
        <div class='card mb-3'>
          <div class='card-body'>
            <div class="card-title">
              <%= reply.author.username %>
            </div>
            <p>
              <%= reply.replyText %>
            </p>
            <% if( currentUser && reply.author.equals(currentUser.id)) { %>
            <form action='/tweets/<%= tweet._id %>/replies/<%= reply._id %>?_method=DELETE' method='POST'>
              <button class='btn btn-sm btn-danger'>Delete</button>
            </form>
            <% } %> 
          </div>
        </div>
        <% } %>
    </div>
    <% if(currentUser) { %> 
    <form action='/tweets/<%=tweet._id%>/replies' method='POST' class ='mb-3 validated-form' novalidate>
      <div class='mb-3'>
        <label for='replyText'>Tweet A Reply</label>
      </div>
      <div class='mb-3'>
        <textarea class='form-control' name='reply[replyText]' id='replyText' cols='30' rows='3' required></textarea>
        <div class='valid-feedback'>
          Looks good
        </div>
      </div>
      <div class='mb-3'>
        <label class='form-label' for='image'>Image URL</label>
        <input class='form-control' type='text' id='image' name='reply[image]'>
      </div>
      <button class='btn btn-success'>Reply</button>
    </form>
    <% } %> 
  </div>
  <footer>
    <a href='/tweets'>All Tweets</a>
  </footer>
</div>

<% layout('layouts/boilerplate') %>